
# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Firebase
.firebase
firebase.json
database.rules.json
storage.rules

# Dependencies
node_modules
jspm_packages
bower_components

# Next.js
.next/
out/
build/

# TypeScript
*.tsbuildinfo
*.js
*.js.map
*.jsx

# Misc
.DS_Store

*.log
*.orig

# Environment Variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.env

# Service Account Keys
chitchatconnect-aqa0w-c9e0b73cf349.json

# IDE config
.idea
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Test Results
coverage
