/* public/win98themes/pink-theme.css */

/* Apply wallpaper to the body for theme-98 when this sub-theme is active */
html.theme-98 body {
    background-image: url('/wallpapers/bows4.png') !important;
    background-repeat: repeat !important;
    background-attachment: fixed !important; /* Keep wallpaper fixed during scroll */
    background-size: auto !important; /* Let the image repeat at its natural size */
}

.theme-98 .window {
    background-color: #FFC0CB !important; /* Pink */
}

.theme-98 .window-body {
    background-color: #FFF0F5 !important; /* LavenderBlush, a lighter pink */
}
